
body{
	text-align: center;

    font-family: 'Share Tech', sans-serif;


}

.apiBox{
	background-color: black;
	opacity: 0.9;
	box-shadow: 5px 5px 5px black; 
	width: 60vw;
	border-radius: 5px;
	margin:auto;
}

section{
	height: 100vh !important;
	width: 100vw !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
}



nav {

	
}

p{
	color: white;
	font-size: 2.2em;
	text-shadow: 5px 5px 5px black;
}


.section1par{
	padding-top: 19%;
}


#section1{

}
#section2{

}
#section3{

}
#section4{

}

.logoimage{
	width:80px;
	height:55px;

}

@media (max-width: 1027px){


section{
background-size: auto !important;

}


}